.about{
  
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.about h3{
  font-size: 40px;
  font-style: oblique;
  color: #20B2AA;
  
}
.about-container{
  
  max-width: 90rem;
  display: flex;
  height: auto;


}
.about-main{
  display: flex;
  height: auto;
  
  margin: 200px 0px 300px 0px;
}
.about-container p{

  font-size: 1.5rem;
  text-align: left;
  padding: 0px 15px 30px 15px;
  font-style: italic;
  font-weight: 400;
  margin: 10px 50px 50px 50px ;
/*  border: solid 1px black;*/
  box-shadow: 2px 2px 1px 2px #D3D3D3;
  color: #2F4F4F;

}
.title-div{
  text-align: center;
  margin-top: -40px;
  margin-bottom: 18px;
}
@media screen and (max-width: 1110px){
  .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  img{
    width: 250px;
    height: 250px;
  }
  .about-container p{
    font-size: 18px;
    font-style: italic;
    margin: 15px;
    color: #2F4F4F;
  }
  .about h3{
  font-size: 20px;
  
  color: #20B2AA;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;

  
}
}
@media screen and (max-width: 810px){
  .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  img{
    width: 250px;
    height: 250px;
  }
  .about-container p{
    font-size: 18px;
    font-style: italic;
    margin: 15px;
    color: #2F4F4F;
  }
  .about h3{
  font-size: 20px;
  
  color: #20B2AA;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;

  
}
}